.image {
    background-image: url(./utils/img/background.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formStyle {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.logo {
    height: auto;
    width: 30%;
}
/* 
body {
    margin: 0;
    background: #152B39;
    font-family: Courier, monospace;
    font-size: 14px;
    color: #ccc;
} */

.wrapper {
    display: block;
    margin: 5em auto;
    border: 1px solid #555;
    width: 700px;
    height: 350px;
    position: relative;
}

.p {
    text-align: center;
}

.chartSize {
    width: 600px;
    height: 500px;
}

.margin {
    margin-top: 80px;
}

.fat {
    font-weight: bold;

}

.fillWindow {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}